.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* .sel-btn {
  border: 2px solid #4090e6;
} */
span {
  padding-right: 20px;
}
.header-pane {
  margin: 20px;
}
.main-pane {
  padding: 10px;
  border: 2px solid #80808063;
  margin: 20px;
}
.results-pane {
  padding-top: 20px;
}
.results-pane-title {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
}
.results-tx-left-subpane {
  display: inline-block;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 20px;
  width: 25%;
  vertical-align: top;
  text-align: left;
}
.results-tx-right-subpane {
  display: inline-block;
  padding: 0px 20px;
  text-align: left;
  width: 75%;
}
.underline {
  text-decoration: underline;
}
.categories {
  margin-top: 25px;
}
.results-pane-byCat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.green {
  color: green;
}
.red {
  color: red;
}
.plus-sign {
  display: inline;
  cursor: pointer;
}
.minus-sign {
  display: inline;
  cursor: pointer;
}